body, html {
    height: 100%
}

body {margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color : rgb(132, 132, 132);
    height: 10%;
    transition: background-color ease 0.3s;
}

.header.impossible {
    background-color: rgb(0, 0, 58);
}

.sidebar {
    width: 5%;
}

.mainbar {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbar div {
    color: white;
    font-size: 200%;
    font-weight: bold;
    text-align: center;

}

.content {
    display: flex;
    height: 95%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

button {
    background-color: rgb(163, 163, 163);
    border: solid black 1px;
    font-size: 150%;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

button:hover {
    background-color: rgb(71, 71, 71);
    color: white;
}

.filler {
    width: 33%;
}