body {
    background: linear-gradient(white 25%, rgba(132, 132, 132, 0) 99%);
    background-color : rgb(132, 132, 132);
    transition: background-color ease 0.3s;
}

body.impossible {
    background: linear-gradient(rgba(0, 0, 0, 0) 90%, white 99%);
    background-color: black;
}

.difficulty {
    background-color: rgb(132, 132, 132);
    border: solid black 1px;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 250%;
    text-align: center;
    padding: 1%;
    transition: background-color 0.3s ease;
}

.difficulty.impossible {
    background-color: rgb(0, 0, 58);
}

.difficultyList {
    margin-bottom: 10%;
}

.buttonList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34%;
}

.buttonList button {
    margin-top: 5%;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.buttonList.impossible button {
    background-color: rgb(0, 0, 58);
    color: white;

}

#veryeasy {
    background-color: blue;
    transition: background-color 0.3s ease;
    color: white;
}

#veryeasy:hover, #veryeasy.selected {
    background-color: rgb(128, 128, 255);
    color: white;
}

#easy {
    background-color: green;
    transition: background-color 0.3s ease;
    color: white;
}

#easy:hover, #easy.selected {
    background-color: rgb(160, 255, 128);
    color: white;
}

#medium {
    background-color: olive;
    transition: background-color 0.3s ease;
    color: white;
}


#medium:hover, #medium.selected {
    background-color: rgb(248, 248, 99);
    color: white;
}

#hard {
    background-color: darkorange;
    transition: background-color 0.3s ease;
    color: white;
}

#hard:hover, #hard.selected {
    background-color: rgb(248, 201, 99);
    color: white;
}

#extreme {
    background-color: red;
    transition: background-color 0.3s ease;
    color: white;
}

#extreme:hover, #extreme.selected {
    background-color: rgb(251, 172, 163);
    color: white;
}

#impossible {
    background-color: black;
    transition: background-color 0.3s ease;
    color: white;
}

#impossible:hover, #impossible.selected {
    background-color: white;
    color: black;
}

.disabled {
    background-color: gray !important;
    color: black !important;
}