body {
    background: linear-gradient(white 25%, rgb(132, 132, 132) 99%)
}

.difficulty {
    background-color: rgb(132, 132, 132);
    border: solid black 1px;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 250%;
    text-align: center;
}

.difficultyList {
    margin-bottom: 10%;
}

.buttonList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 34%;
}

.buttonList button {
    margin-top: 5%;
}

#veryeasy {
    background-color: blue;
    transition: background-color 0.3s ease;
    color: white;
}

#veryeasy:hover {
    background-color: rgb(128, 128, 255);
    color: white;
}

#veryeasy.selected {
    background-color: rgb(128, 128, 255);
    color: white;
}

#easy {
    background-color: green;
    transition: background-color 0.3s ease;
    color: white;
}

#easy:hover {
    background-color: rgb(160, 255, 128);
    color: white;
}

#easy.selected {
    background-color: rgb(160, 255, 128);
    color: white;
}

#medium {
    background-color: olive;
    transition: background-color 0.3s ease;
    color: white;
}

#medium:hover {
    background-color: rgb(248, 248, 99);
    color: white;
}

#medium.selected {
    background-color: rgb(248, 248, 99);
    color: white;
}

#hard {
    background-color: darkorange;
    transition: background-color 0.3s ease;
    color: white;
}

#hard:hover {
    background-color: rgb(248, 201, 99);
    color: white;
}

#hard.selected {
    background-color: rgb(248, 201, 99);
    color: white;
}

.disabled {
    background-color: gray !important;
    color: black !important;
}