body {
    background: linear-gradient(white 25%, rgb(132, 132, 132) 99%)
}

.instructions {
    background-color: rgb(132, 132, 132);
    border: solid black 1px;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 250%;
    text-align: center;
    padding: 1%;
}

.instructionsText {
    background-color: rgb(132, 132, 132);
    border: solid black 1px;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 150%;
    text-align: center;
}

.line {
    margin: 2% 5% 2% 5%;
}