.hide {
    display: none;
}

body.loading {
    visibility: hidden;
}

body.loaded {
    visibility: visible;
    transition: visibility 0s 0.5s, background 0.5s ease;
}

body {
    background: linear-gradient(white 25%, blue 99%);
}

body.easy {
    background: linear-gradient(white 25%, green 99%);
}

body.medium {
    background: linear-gradient(white 25%, olive 99%);
}

body.hard {
    background: linear-gradient(white 25%, darkorange 99%);
}

body.extreme {
    background: linear-gradient(white 25%, red 99%);
}

#progress {
    background-color: blue;
    border: solid black 1px;
    color: white;
    margin-top: 1%;
    padding: 1%;
    font-size: 250%;
}

#progress.easy {
    background-color: green;
}

#progress.medium {
    background-color: olive;
}

#progress.hard {
    background-color: darkorange;
}

#progress.extreme {
    background-color: red;
}

#question {
    background-color: blue;
    border: solid black 1px;
    color: white;
    margin-top: 1%;
    padding: 1%;
    font-size: 150%;
}

#question.easy {
    background-color: green;
}

#question.medium {
    background-color: olive;
}

#question.hard {
    background-color: darkorange;
}

#question.extreme {
    background-color: red;
}


#lives {
    background-color: blue;
    border: solid black 1px;
    color: white;
    margin-top: 3%;
    padding: 1%;
    font-size: 150%;
}

#lives.easy {
    background-color: green;
}

#lives.medium {
    background-color: olive;
}

#lives.hard {
    background-color: darkorange;
}

#lives.extreme {
    background-color: red;
}

#timer {
    padding: 1%;
    font-size: 250%;
    color: white;
    font-weight: bolder;
    border: solid black 1px;
}

#timer.hard {
    background-color: darkorange;
}

#timer.extreme {
    background-color: red;
}

.answersList {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    min-width: 34%;
    gap: 20px;
}

.answersList button {
    background-color: rgb(128, 128, 255);
    border: solid black 1px;
    font-size: 150%;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.answersList.easy button {
    background-color: rgb(160, 255, 128);
}

.answersList.medium button {
    background-color: rgb(248, 248, 99);
}

.answersList.hard button {
    background-color: rgb(248, 201, 99);
}

.answersList.extreme button {
    background-color: rgb(251, 172, 163);
}

.answersList button:hover {
    background-color: blue;
    color: white;
}

.answersList.easy button:hover {
    background-color: green;
    color: white;
}

.answersList.medium button:hover {
    background-color: olive;
    color: white;
}

.answersList.hard button:hover {
    background-color: darkorange;
    color: white;
}

.answersList.extreme button:hover {
    background-color: red;
    color: white;
}

.header.veryeasy {
    display: flex;
    background-color : blue;
    height: 10%
}

.header.easy {
    display: flex;
    background-color : green;
    height: 10%
}

.header.medium {
    display: flex;
    background-color : olive;
    height: 10%
}

.header.hard {
    display: flex;
    background-color : darkorange;
    height: 10%
}

.header.extreme {
    display: flex;
    background-color : red;
    height: 10%
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
}

.bottomContent {
    margin-left: 2%;
    margin-bottom: 2%;
    display: flex;
}