.hide {
    display: none;
}

body.loading {
    visibility: hidden;
}

body.loaded {
    visibility: visible;
    transition: visibility 0s 0.5s, background 0.5s ease;
}

body {
    background: linear-gradient(white 25%, blue 99%);
}

body.easy {
    background: linear-gradient(white 25%, green 99%);
}

body.medium {
    background: linear-gradient(white 25%, olive 99%);
}

body.hard {
    background: linear-gradient(white 25%, darkorange 99%);
}

#progress {
    background-color: blue;
    border: solid black 1px;
    color: white;
    margin-top: 1%;
    padding: 1%;
    font-size: 250%;
}

#progress.easy {
    background-color: green;
}

#progress.medium {
    background-color: olive;
}

#progress.hard {
    background-color: darkorange;
}

#question {
    background-color: blue;
    border: solid black 1px;
    color: white;
    margin-top: 1%;
    padding: 1%;
    font-size: 150%;
}

#question.easy {
    background-color: green;
}

#question.medium {
    background-color: olive;
}

#question.hard {
    background-color: darkorange;
}


#lives {
    background-color: blue;
    border: solid black 1px;
    color: white;
    margin-top: 1%;
    padding: 1%;
    font-size: 150%;
}

#lives.easy {
    background-color: green;
}

#lives.medium {
    background-color: olive;
}

#lives.hard {
    background-color: darkorange;
}

.answersList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34%;
}

.answersList button.noleft {
    background-color: rgb(128, 128, 255);
    border: solid black 1px;
    font-size: 150%;
    margin-top: 5%;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.answersList.easy button.noleft {
    background-color: rgb(160, 255, 128);
}

.answersList.medium button.noleft {
    background-color: rgb(248, 248, 99);
}

.answersList.hard button.noleft {
    background-color: rgb(248, 201, 99);
}

.answersList .noleft:hover {
    background-color: blue;
    color: white;
}

.answersList.easy .noleft:hover {
    background-color: green;
    color: white;
}

.answersList.medium .noleft:hover {
    background-color: olive;
    color: white;
}

.answersList.hard .noleft:hover {
    background-color: darkorange;
    color: white;
}

.answersList .left {
    background-color: rgb(128, 128, 255);
    border: solid black 1px;
    font-size: 150%;
    margin-left: 5%;
    margin-top: 5%;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.answersList.easy button.left {
    background-color: rgb(160, 255, 128);
}

.answersList.medium button.left {
    background-color: rgb(248, 248, 99);
}

.answersList.hard button.left {
    background-color: rgb(248, 201, 99);
}

.answersList .left:hover {
    background-color: blue;
    color: white;
}

.answersList.easy .left:hover {
    background-color: green;
    color: white;
}

.answersList.medium .left:hover {
    background-color: olive;
    color: white;
}

.answersList.hard .left:hover {
    background-color: darkorange;
    color: white;
}

.header.veryeasy {
    display: flex;
    background-color : blue;
    height: 10%
}

.header.easy {
    display: flex;
    background-color : green;
    height: 10%
}

.header.medium {
    display: flex;
    background-color : olive;
    height: 10%
}

.header.hard {
    display: flex;
    background-color : darkorange;
    height: 10%
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}